@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de olvido de su contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revise su correo electronico para resetear su contraseña
</p>

