@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido restablecida. Por favor <a asp-page="./Login">Haga click para iniciar sesion</a>.
</p>
