@{
    ViewBag.Title = "Acerca de nosotros";
}

<br>
<center>
    <div id="about" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Sobre Nosotros</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <h2>Misión</h2>
                        <p>
                            ImnovaTech una empresa que se encarga de brindar soluciones a los problemas de inventariado fisico,
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <h2>Visión</h2>
                        <p>
                            Nuestra visión es mantener un servicio de calidad a un precio competitivo, innovar en soluciones
                            para nuestros clientes y crear sistemas digitales para la mejora de los servicios que ofrecemos.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <h2>Valores</h2>
                        <p>-Pasión: estar comprometidos con el corazón y la mente en lo que hacemos.</p>
                        <p>-Responsabilidad: cumplimiento a las obligaciones con cautela en cada decisión. </p>
                        <p>-Integridad: ser transparentes.</p>
                        <p>-Calidad: búsqueda de la excelencia.</p>
                        <p>-Sinceridad: tener veracidad y sencillez.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>